* {
    box-sizing: border-box;
    margin: 0px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.col-4 {
    width: 33.33%;
}

.task {
    display: block;
    margin: 10px;
}

.task input {
    padding: 7px 15px 7px 6px;
    background-color: rgba(128, 128, 128, 0.089);
    border-color: rgba(0, 0, 0, 0.12);
    width: 400px;
}

.task input::placeholder {
    font-size: 15px;
}

div label input {
    margin-right: 100px;
}

.check{
    margin: 4px;
    background-color: rgba(128, 128, 128, 0.111);
    border: 1px solid #fff;
    overflow: hidden;
    float: left;
}

.check label {
    float: left;
}

.check label span {
    text-align: center;
    display: block;
    padding: 4px 10px 4px 10px;
}

.check label input {
    position: absolute;
    display: none;
}

.check input:checked+span {
    background-color: #fa55a7;
}

.btn-wrap {
    display: flex;
    gap: 10px;
}

select {
    padding: 0px 30px 0px 4px;
    font-weight: 600;
    margin-left: 15px;
}

.addTask {
    background-color: #9c1ee9;
    color: white;
    border: none;
    padding: 3px 12px;
    font-size: 14px;
}

.taskStatus {
    display: flex;
    gap: 10px;
    font-size: 25px;
    font-weight: 600;
}

.taskIcon{
    /* display: flex; */
   gap: 20px;
}
/* .list {
   
} */

.box {
    width: 300px;
    max-height: 200px;
    border: 2px dotted #d3caca;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.box h3{
    margin-bottom: 5px;
}

.btn{
    margin: 5px;
    float: left;
}

.btn span  {
    text-transform: capitalize;
    background-color: transparent;
    /* margin: 10px; */
}
